<mat-tab-group>
  <!-- Tabs for each lab -->
  <mat-tab *ngFor="let lab of labs" [label]="lab.name">
    <div class="tab-content">
      <h2>{{ lab.name }}</h2>
      <mat-accordion>
        <mat-expansion-panel *ngFor="let booking of bookings">
          <mat-expansion-panel-header>
            <mat-panel-title> {{ booking.startTime | date:'shortTime' }}   - {{ booking.endTime | date:'shortTime' }} </mat-panel-title>
            <mat-panel-description> {{ booking.reason }} </mat-panel-description>
          </mat-expansion-panel-header>

          <!-- Booking form -->
          <form class="example-form">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Your name" disabled value="Sumedhe Dissanayake">
              </mat-form-field><br>

              <mat-form-field class="example-full-width">
                  <mat-select placeholder="Lab/Hall">
                    <mat-option *ngFor="let lab of labs" [value]="lab.name">{{ lab.name }}</mat-option>
                  </mat-select>
              </mat-form-field>

              <mat-form-field class="example-full-width">
                <textarea matInput placeholder="Reason" minRows="6"></textarea>
              </mat-form-field><br>

              <table > 
                <td class="example-full-width">
                  <mat-form-field>
                      <input matInput placeholder="From" value="">
                  </mat-form-field>
                </td>
                <td class="example-full-width">
                  <mat-form-field>
                        <input matInput placeholder="To" value="">
                  </mat-form-field><br>
                </td>
              </table>

              <button mat-raised-button color="primary">Save</button>
              <button mat-raised-button color="primary">Cancel</button>

            </form>

        </mat-expansion-panel>
      </mat-accordion>


    </div>



  </mat-tab>
</mat-tab-group>


  