.tab-content {
    background-color: #FAFAFA;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

h2 {
    color: #333;
    font-weight: 400;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
.example-full-width {
    width: 100%;
}

textarea {
    height: 75px;
}

button {
    margin: 5px;
}

mat-form-field {
    width: 100%;
    padding: 10px;
}

.booking-content {
    // padding-left: 10%;
    // padding-right: 10%;
}