<mat-tab-group>
  <!-- Tabs for each lab -->
  <mat-tab *ngFor="let lab of labs" [label]="lab.name">
    <div class="tab-content">
      <h2>{{ lab.name }}</h2>
      <mat-accordion>
        <mat-expansion-panel *ngFor="let booking of bookings">
          <mat-expansion-panel-header>
            <mat-panel-title> {{ booking.startTime | date:'shortTime' }}   - {{ booking.endTime | date:'shortTime' }} </mat-panel-title>
            <mat-panel-description> {{ booking.reason }} </mat-panel-description>
          </mat-expansion-panel-header>

          <!-- Name input -->
          <mat-form-field class="example-full-width">
            <input matInput type="text" placeholder="Your name" [(ngModel)]="booking.name">
          </mat-form-field><br>

          <!-- Lab name -->
          <mat-form-field class="example-full-width">
              <mat-select placeholder="Lab/Hall">
                <mat-option *ngFor="let lab of labs" >{{ lab.name }}</mat-option>
              </mat-select>
          </mat-form-field>

          <!-- Reason input -->
          <mat-form-field class="example-full-width">
            <textarea matInput placeholder="Reason" minRows="6" [(ngModel)]="booking.reason"></textarea>
          </mat-form-field><br>

          <table > 
            <!-- Start time input -->
            <td class="example-full-width">
              <mat-form-field>
                  <input matInput placeholder="From" value="">
              </mat-form-field>
            </td>
            <!-- End time input -->
            <td class="example-full-width">
              <mat-form-field>
                    <input matInput placeholder="To" value="">
              </mat-form-field><br>
            </td>
          </table>

          <!-- Buttons -->
          <button mat-raised-button color="primary" (click)="saveBooking(booking)">Save</button>
          <button mat-raised-button color="primary">Cancel</button>
          <button mat-raised-button color="warn" (click)="deleteBooking(booking)">Delete</button>


        </mat-expansion-panel>
      </mat-accordion>


    </div>



  </mat-tab>
</mat-tab-group>


  